body {
    margin: 0;
    padding: 0;
    font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
}
li{
    list-style-type: none;
    margin: 0 2.5vh;
    font-size: 2vh;
    
}
nav a {
    text-decoration: none;
    color: white;
    border-right: 1px solid grey;

    padding-top: 7px;
    padding-bottom: 19px;
    padding-right: 30px;
    width: 100%;
}
nav {
    width 100vw;
    background-color: black;
    padding-top: 10px;
}


ul {
    margin: 0;
    padding: 0;
    /* this option place the elements in a row */
    display: flex;
   text-align: center;
}



#home:hover, #home:focus {
border-bottom: 5px solid black;
padding-bottom: 12px;
border-right: none;
}
#news:hover, #news:focus {
    border-bottom: 3px solid #bb1919;
    padding-bottom: 13px;

}
#sport:hover, #sport:focus {
    border-bottom: 3px solid #f6d232;
    padding-bottom: 13px;
}
#reel:hover, #reel:focus {
    border-bottom: 3px solid #4669ff;
    padding-bottom: 13px;
}
#worklife:hover, #worklife:focus {
    border-bottom: 3px solid #2c52a1;
    padding-bottom: 13px;
}
#travel:hover, #travel:focus {
    border-bottom: 3px solid #589e50;
    padding-bottom: 13px;
}
#future:hover, #future:focus {
    border-bottom: 3px solid #132856;
    padding-bottom: 13px;
}
#more:hover, #more:focus {
    border-bottom: 3px solid #ffffff;
    padding-bottom: 13px;
}
