body {
    margin: 0;
    padding: 0;
    font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
    color: white;
}
* {
    box-sizing: border-box;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
   
 }   

li {
    float: left;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 40px 25px 40px;
    margin-bottom: -24px;
    text-decoration: none;
    border-right: 1px solid white;
}

#logo {
    margin-top: -5px;
}
#sign-in {
    margin-top: -10px;
}
#search {
    margin-top: 20px;
    padding-left: 30px;
}





#home:hover, #home:focus {
border-bottom: 5px solid black;
padding-bottom: 12px;
border-right: none;
}
#news:hover, #news:focus {
    border-bottom: 3px solid #bb1919;
    padding-bottom: 13px;

}
#sport:hover, #sport:focus {
    border-bottom: 3px solid #f6d232;
    padding-bottom: 13px;
}
#reel:hover, #reel:focus {
    border-bottom: 3px solid #4669ff;
    padding-bottom: 13px;
}
#worklife:hover, #worklife:focus {
    border-bottom: 3px solid #2c52a1;
    padding-bottom: 13px;
}
#travel:hover, #travel:focus {
    border-bottom: 3px solid #589e50;
    padding-bottom: 13px;
}
#future:hover, #future:focus {
    border-bottom: 3px solid #132856;
    padding-bottom: 13px;
}
#more:hover, #more:focus {
    border-bottom: 3px solid #ffffff;
    padding-bottom: 13px;
}

.wrapper {
   
    margin: 0 auto;
    color: black;

}
p.welcome {
margin: 50px 0 0 px;
}
p.date {
    float: right;
    margin-top: -35px;
}

/* end of header and menu */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    
}
.pic-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.pic-2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.pic-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end: 3;

}
.pic-4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start : 2;
    grid-row-end: 3;
}
